<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person page</title>
</head>
<body>
<p th:text="${person.getFullName() + ', ' + person.getYearOfBirth()}">name</p>
<div>
    <div th:if="${list.isEmpty()}" style="display: flex">
        <span th:text="${'The person have not taken any book yet'}" style="margin-right: 10px"></span>
        <form method="get" th:action="@{/books}">
            <input type="submit" value="Choose a book"/>
        </form>
    </div>

    <div th:unless="${list.isEmpty()}">
        <strong>Books: </strong>
        <div th:each="book : ${list}"
             th:text="${book.getBookName() + ', ' +book.getAuthor() + ', ' + book.getYearOfPublication()}">
        </div>
    </div>

</div>
<hr/>
<form method="get" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Edit"/>
</form>
<br/>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>